{% extends "base.html" %}
{% block title %}KP的宝库{% endblock %}
{% block content %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/dice.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>那么，决定你的命运吧……！</h2>
                    <span class="subheading">“欢迎光临，抽一次一金币哦！本店概不赊账——”</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="container px-4 px-lg-5">
    <form class="row gx-4 gx-md-5 justify-content-center" style="margin-bottom: 5rem">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="width:500px">
            <button type="button" class="btn btn-secondary" id="btn-single">单抽</button>
            <button type="button" class="btn btn-secondary" id="btn-ten-times">十连</button>

            <div class="btn-group" role="group">
                <select class="form-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected value="minion">普通池</option>
                    <option value="boss">Boss池</option>
                </select>
                <br>
            </div>
        </div>
    </form>
</main>

<div id="main-table" class="table-responsive"></div>
{% endblock %}