{% extends "base.html" %}
{% block title %}神秘的小店{% endblock %}
{% block content %}
<body>
    {% include 'nav.html' %}
    <header class="masthead" style="background-image: url({{ url_for('static', filename='img/store.png') }});">
        <div class="container position-relative px-4 px-lg-5" >
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h2>“闭店中……”</h2>
                        <span class="subheading">好像还没有开张的样子，晚点再来吧！</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="container px-4 px-lg-5" >
        <div class="container position-relative px-4 px-lg-5">

        </div>
    </main>
</body>
{% endblock %}