<!DOCTYPE html>
<html>
<head>
    <title>User Inventory</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{url_for('static',filename='/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static',filename='/script.js')}}"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/b53ea7af70.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='/dataTables.bootstrap5.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='/style.css')}}" rel="stylesheet">
    <style>
        table {
            table-layout: fixed;
            word-wrap: break-word;
            font-size: 1rem;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <header class="masthead" style="background-image: url('')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h2>你打开了自己的四次元口袋</h2>
                        <span class="subheading">要卖掉一些东西吗……？</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <form id="inventory-form">
                <table id="inventory" class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>稀有度</th>
                            <th>职业</th>
                            <th>属性加成</th>
                            <th>效果</th>
                            <th>获得时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</body>

</html>